.nj-sec__discover {
    margin: var(--space-xl) 0;
    @include mq($from: tablet-landscape) {
        padding-left: 8vw;
    }
    @include mq($from: desktop-large) {
        padding-left: 16vw;
    }

   
}

.nj-discover__carousel {
    padding-left: var(--space-md);
}