.nj-sec__discover {
    margin: var(--space-xl) 0;
    @include mq($from: tablet-landscape) {
        padding-left: 8vw;
    }
    @include mq($from: desktop-large) {
        padding-left: 16vw;
    }

   
}

.nj-discover__carousel {
    padding-left: var(--space-md);
    .swiper-slide {
        width:fit-content;
    }

    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        background:var(--color-base-white);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        right: 94px;
        top: 40%;
        box-shadow: (0px 3px 6px rgba(0, 0, 0, 0.16));

        &:before {
            content: '';
            border: dotted var(--color-base-gray-600) 1.5px;
            width: 78%;
            height: 78%;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            font-size: 30px !important;
            color: var(--color-base-gray-100);
            font-weight: 800;
        }
    }

   
}