
.nj-sec__hero {
    height: 600px;
    background-color: var(--color-base-gray-50);
    position: relative;
    margin-bottom: var(--space-xl);
}

.nj-hero__wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

// MODS
.nj-sec__hero--blue {
    background-color: var(--color-base-blue);
}

.nj-hero__search {
    // max-width: 1159px;
    margin: auto;
    border-radius: 10px;
    background: var(--color-base-white);
    border: 0.5px solid #d9d8d6;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    // flex-wrap: wrap;
}

.nj-hero__search-item {
    width: 33%;
    border-left: solid 1px var(--color-base-gray-50);
    
    .frm__icon {
        font-size: 32px;
    }
}

.nj-hero__display {
    display: flex;
    justify-content: center;
    padding: var(--space-xl) 0;

    img {
        width: 672px;
        object-fit: contain;
    }
}
