// main: ../style.scss

.nj-sec__hero-carousel {
    height: calc(100vh - 64px);
    margin-bottom: var(--space-rg);

    @include mq($from: tablet-portrait) {
        height: 600px;
    }
    
    @include mq($from: tablet-landscape) {
        margin-bottom: var(--space-xl);

    }


    .nj-hero__slide {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .nj-hero__bg {
        @extend %img-cover;
    }

    .nj-hero__content {
        width: 100%;
        height: fit-content;

        position: absolute;
        top: 60%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .btn {
            margin-top: var(--space-rg);
        }
    }

    .nj-hero__title {
        color: var(--color-base-white);
        @include x-rem(font-size, 70px);
        margin-bottom: 0;
    }
}
