
    .nj-logo-overlay {
        mix-blend-mode: multiply;
        transform: scale(1.8);
        position: absolute;
        top: 13%;

        @include mq($from: desktop-small) {
            transform: scale(1.2);
            top: -18%;
            left: -10%;
        }
    }