// main: ../style.scss

:root {
    --form-bg-color: #fff;
    --form-border-color: var(--color-base-lightgray);
    --form-font-color-light: var(--color-base-white);
    --form-font-color-dark: #000;
    --form-label-color: var(--color-secondary);
}

form {
    width: 100%;
    height: auto;
}


.frm__label {
    color: var(--form-font-color-light);
    @include x-rem(font-size, 16px);
    font-family: var(--font-primary);

    .frm__label--required {
        color: $oc-red-5;
    }
}

.frm__input {
    background-color: var(--form-bg-color);
    @include x-rem(font-size, 16px);
    border-radius: 4px;
    color: var(--form-font-color-dark);
    border: 1px solid var(--form-border-color);
    padding: var(--space-sm) var(--space-rg);

    &:focus,
    &:hover {
        box-shadow: none;
        outline: 0;
    }

    &::-webkit-input-placeholder {
        /* Edge */
        color: var(--color-base-lightgray);
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-base-lightgray);
    }

    &::placeholder {
        color: var(--color-base-lightgray);
    }

}

.frm__input--bold {
    color: var(--color-base-gray-600);
    font-family: var(--font-primary-extrabold);
    @include x-rem(font-size, 22px);
    &::-webkit-input-placeholder {
        /* Edge */
        color: var(--color-base-gray-50);
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-base-gray-50);
    }

    &::placeholder {
        color: var(--color-base-gray-50);
    }
}

.frm__input--outline {
    border-width: 1px;
    border-style: solid;
    border-color: var(--form-bg-color);
    background-color: transparent;
    color: var(--form-font-color-dark);

    &:focus,
    &:hover {
        border-color: var(--color-primary);
        box-shadow: 0;
        outline: 0;
        background-color: transparent;
        color: var(--form-font-color-dark);
    }

    &::-webkit-input-placeholder {
        /* Edge */
        color: var(--form-font-color-dark);
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--form-font-color-dark);
    }

    &::placeholder {
        color: var(--form-font-color-dark);
    }
}

.form-control--disabled,
.form-control[disabled],
.form-control[readonly] {
    cursor: not-allowed;
}

.form-control[aria-invalid="true"],
.form-control--error {
    border-color: var(--color-error);

    &:focus {
        // box-shadow: 0px 0px 0px 2px alpha(var(--color-error), 0.2);
    }
}

// Form group with append icons
.frm__grp {
    position: relative;

    .frm__input {
        width: 100%;
    }

    .frm__append {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
    
        background-color: var(--color-base-white);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}