.nj-sec__title {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: var(--space-md) 0 var(--space-lg);

    &::after {
        content: '';
        width: 240px;
        height: 3px;

        position: absolute;
        bottom: -5px;
        left: 0;
    
        background-color: var(--color-base-gray-200);
    }

   
}


.nj-sec__subheading {
    color: var(--color-base-gray-700);
    @include x-rem(font-size, 26px);
    font-family: var(--font-primary);
}

.nj-sec__heading  {
    color: var(--color-base-gray-700);
    @include x-rem(font-size, 58px);
}

.nj-sec__desc {
    @include x-rem(font-size, 20px);
    font-family: var(--font-secondary-medium);
    color: var(--color-base-gray-600);
    line-height: 1.2;

    margin-bottom: var(--space-rg);
}


// MODS -- COLOR
.nj-sec__title.nj-sec__title--green {
    &::after {
        background-color: var(--color-base-green);
    }
    .nj-sec__heading {
        color: var(--color-base-green);
    }
}

.nj-sec__title--violet {
    &::after {
        background-color: var(--color-base-violet);
    }
    .nj-sec__heading {
        color: var(--color-base-violet);
    }
}

.nj-sec__title--blue {
    &::after {
        background-color: var(--color-base-blue);
    }
    .nj-sec__heading {
        color: var(--color-base-blue);
    }
}

// MODS -- ALIGNMENT
 // MODS
 .nj-sec__title.nj-sec__title--center {
    justify-content: center;
    text-align: center;

    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

